<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I HOME</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>I-home</title>
<link rel="stylesheet" href="style.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Bootstrap Styles-->
<!--    <link href="assets/css/bootstrap.css" rel="stylesheet" />  -->
     <!-- FontAwesome Styles-->
   <link href="assets/css/font-awesome.css" rel="stylesheet" />  
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />  
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />  
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /> 
   
   <!-- morris0.5.1-->
    <script src="morris_new/jquery.min.js"></script>
    <script src="morris_new/raphael-min.js"></script>
    <script src="morris_new/morris.js"></script>
    <script src="morris_new/prettify.min.js"></script>
    <link rel="stylesheet" href="morris_new/prettify.min.css">
    <link rel="stylesheet" href="morris_new/morris.css">

    <!-- chartjs-->
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script></script>

</head>
<body>

    {{{body}}}


    <!-- Bootstrap Js -->
 <!--   <script src="assets/js/bootstrap.min.js"></script>  -->
	 
    <!-- Metis Menu Js -->
 <!--   <script src="assets/js/jquery.metisMenu.js"></script>	
	
	<script src="assets/js/easypiechart.js"></script>
	<script src="assets/js/easypiechart-data.js"></script>   -->
	
	
    <!-- Custom Js -->
 <!--   <script src="assets/js/custom-scripts.js"></script>   -->
</body>
</html>