
*{
	margin:0px;
	padding:0px;
	border:none;
}

ul li {
	list-style:none;
}
/* dinh dang menu ngang*/
#menu {
	font-family:Segoe UI;
	margin:0px auto;
	background:#333;
	overflow:hidden;
	height:50px;
}

#menu ul li {
	float: left;
}
#menu ul li a{
	text-align:center;
	text-decoration:none;
	color:#FFF;
	font-size: 20px;
	line-height:50px;
	display:block;
	padding: 0px 20px 0px 20px;
}
#menu ul li a:hover {
	background:#3C9;
}
/*-----------------------------------------------------------------*/
/* Dinh dang cho trang control*/
#noidung_control h1 {
	font-family:sans-serif;
	text-align:center;
	margin-top:30px;
	margin-left: 50px;
	font-weight: bold;
	color: rgb(238, 236, 243);
}

#noidung_control_1{
	text-align: center;
	
}
.device {

	margin-top:25px;
	/*margin-left:150px; */
	margin-left:70px;
	margin-right:60px;
	margin-bottom: 5px;
	width:200px;
	height:246px;
	background-color: white;
	padding: 10px;
	display:inline-block;
	text-align:center;
	
	font-family:sans-serif;
	font-size:15px;
	color: #000;

	border-radius: 5px 5px 0 0;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
}
.box{
	position: relative;

	text-align: center;
	width: 100px;
	height: 60px;
	margin: 20px auto auto auto;
}
.Button{

	display: block;
	position: absolute;
	font-size: 30px;
	font-weight: bolder;
	top: 18px;
	width: 60px;
	text-align: center;
	margin-left: auto;

	background-color: white;
/*
    display: block;
    position: absolute;
    font-family:sans-serif;
	font-size:35px;
    top: 26px;
	width: 100px;
	*/
}
/*------------------------------------------------------------------*/
/* Dinh dang cho trang Login*/
.dangnhap{
	text-transform: uppercase;
	color: white;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 1.5em;
	line-height: 2.8em;
	background-color: #665851;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}
.login-box{
	background-color: white;
	max-width: 400px;
	margin: 0 auto;
	position: relative;
	top: 100px;
	padding-bottom: 40px;
	border-radius: 8px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}
.login-box label{
	font-weight: 800;
	font-size: .9em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 3em;
}
.login-box input {
	text-align: center;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;

}
.login-box button {
	margin-top: 20px;
	border: 0;
	border-radius: 3px;
	color: white;
	padding: 15px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.9em;
	letter-spacing: 1px;
	background-color: #665851;
	cursor:pointer;
	outline: none;
}
/*-----------------------------------------------------------------*/
/* Dinh dang cho trang Sensor */
#dinhdang_sensor h1{
	text-transform: uppercase;
	color: white;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 1.5em;
	line-height: 2.8em;
	background-color: #665851;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
	text-align: center;
	font-family: segoe UI;
}
#dinhdang_sensor {
	font-family: Segoe UI;
	margin:0px auto;
	background: #2B3502;
	overflow:hidden;
	
}
#dinhdang_sensor ul li {
	float: left;
	
	text-align:center;
	text-decoration:none;
	color:#FFF;
	line-height:50px;
	margin: 0px auto;
	display:block;
	padding: 0px 275px 0px 295px;
}
#dinhdang_sensor ul li:hover{
	background: #047DB9;
}
/*---------------------------------------------------------------------*/
/* CSS cho dong ho hen gio*/
.alarmClockIcon{
	width: 40px;
	height: 40px;
}
.buttonSetTime{
	float: right;
    width: 50px; 
    height: 40px; 
    margin-top: 30px; 
    border: none;
    background-color: white;
}
.modal-title{
	font-family: Segoe;
	color: black;
	font-size: 20px;
}
.modal-body{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 20px;
}
/*-------------------------------------------------------------------------------*/
/* dinh dang cho chart page */
.boxDistance{
	background: #E6E6E6;
	text-align: center;
	color: #0B0E35;

}
#chart-page h2{
	font-weight: 400;
	letter-spacing: 3px;
	font-size: 2.5em;
	font-weight: bold;
	line-height: 1.8em;
	font-family:sans-serif;
	text-align: center;
	color: #08088A;
}
.panel-body{
	text-align: center;
	width: 65%;
	height: 25%;
	position: relative;
	margin: auto;
	
}
.fillter{
	border-color: #665851;
	border-radius: 3px;
	text-align: center;
	color: #08088A;
	font: 1.3em sans-serif;
}
.logo{
	width: 100px;
	height: 100px;
	margin-left: 25px;
}
#camera{
	text-align: center;
	font-family:sans-serif;
	margin: auto;
	font-weight: bold;
	color:#08088A;
	background-color: darkgrey;
}
#camera h2{
	font-weight: 400;
	letter-spacing: 3px;
	font-size: 2.5em;
	font-weight: bold;
	line-height: 1.5em;
	font-family:sans-serif;
	text-align: center;
	color: #08088A;
}
#chart{
	margin: auto;
	background-color: darkgrey;
}
#control{
	margin: auto;
/*	background-color: rgb(5, 3, 29); */
	background: url('https://dep.anh9.com/imgs/131120hinh-nen-nhung-hoa-tiet-trang-tri-mau-xanh-den-danh-cho-wesite.jpg');
}
#ngucanh{
	background-color: rgb(73, 131, 133);
	background: url('https://dep.anh9.com/imgs/131120hinh-nen-nhung-hoa-tiet-trang-tri-mau-xanh-den-danh-cho-wesite.jpg');
}
#login{
	margin: auto;
	background-color: darkgrey;
}
#home{
	margin: auto;
	background-color: darkgrey;
	
}
#stype-came{
	border: saddlebrown;
}

.box_scenes{
	margin: 50px 50px 50px 50px;
}

.table{
	width: 25%;
	margin: 10px;
}