<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>I-home</title>
<link rel="stylesheet" href="style.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
#container {
    margin: 0px auto;
    width: 600px;
    height: 500px;
    border: 10px #333 solid;
}
#videoElement {
    width: 600px;
    height: 500px;
    background-color: #666;
}
</style>

</head>

<body id="camera">
	<div id="menu">
    	<ul>
        	<li><a href="home" target="_parent">HOME</a></li>
            <li><a href="control" target="_parent">CONTROL</a></li>
            <li><a href="scenes" target="_parent">SCENES</a></li>
            <li><a href="sensor" target="_parent">SENSOR</a></li>
            <li><a href="camera" target="_parent">CAMERA</a></li>
            <li><a href="chart" target="_parent">CHART</a></li>
            <li><a href="setscenes" target="_parent">SET SCENES</a></li>
            <li><a href="#">SUMMARY</a></li>
        </ul>
     </div>

     <h2> SECURITY CAMERA</h2>
        <br>
    <!--    <div id="stype-came">
            <iframe width="650" height="490" src="http://192.168.100.7:8081/">
            </iframe>
        </div>
    -->

    <div id="container">
    <video autoplay="true" id="videoElement">
     
    </video>
</div>

<script>
    var video = document.querySelector("#videoElement");
 
if (navigator.mediaDevices.getUserMedia) {       
    navigator.mediaDevices.getUserMedia({video: true})
  .then(function(stream) {
    video.srcObject = stream;
  })
  .catch(function(err0r) {
    console.log("Something went wrong!");
  });
}
</script>

</body>
</html>