<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="style.css" />
<title>control</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body id="control">
	<div id="menu">
    	<ul>
        	<li><a href="home" target="_parent">HOME</a></li>
            <li><a href="control" target="_parent">CONTROL</a></li>
            <li><a href="scenes" target="_parent">SCENES</a></li>
            <li><a href="sensor" target="_parent">SENSOR</a></li>
            <li><a href="camera" target="_parent">CAMERA</a></li>
            <li><a href="chart" target="_parent">CHART</a></li>
            <li><a href="setscenes" target="_parent">SET SCENES</a></li>
            <li><a href="#">SUMMARY</a></li>
        </ul>
    </div>
     
	<div id="noidung_control">
        <h1> SMART HOME CONTROL PAGE</h1>
    </div>
        
    <div id="noidung__control_1">
        <div class="device">
                <form action = "/TB1", method = "post">
                    <h2 class="thietbi"> Bedroom</h2>
                    <div class="box">
                        <button type="submit" class="Button" id = "device1"></button>
                    </div>
                </form>

                <button class ="buttonSetTime" data-toggle="modal" data-target="#myModal1">
                    <img src="hinh_anh/alarmclock.png" class ="alarmClockIcon">
                </button>
                
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action = "/submitTheTimeDevice1", method = "get">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">SET TIME FOR DEVICE</h4>
                                </div>
                                <div class="modal-body">
                                    <h4> Set time when turn device on </h4>
                                    <input type="time" name="setTimeOn">
                                    <h4> Set time when turn device off </h4>
                                    <input type="time" name="setTimeOff">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div> 
        </div>

        <div class="device">
                <form action = "/TB2", method = "post">
                    <h2 class="thietbi"> Work Room </h2>
                    <div class="box">
                        <button type="submit" class="Button" id = "device2"></button>
                    </div>
                </form>

                <button class ="buttonSetTime" data-toggle="modal" data-target="#myModal2">
                    <img src="hinh_anh/alarmclock.png" class ="alarmClockIcon">
                </button>

                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action = "/submitTheTimeDevice2", method = "get">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">SET TIME FOR DEVICE</h4>
                                </div>
                                <div class="modal-body">
                                    <h4> Set time when turn device on </h4>
                                    <input type="time" name="setTimeOn">
                                    <h4> Set time when turn device off </h4>
                                    <input type="time" name="setTimeOff">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div> 
        </div>

        <div class="device">
                <form action = "/TB3", method = "post">
                    <h2 class="thietbi"> Living Room</h2>
                    <div class="box">
                        <button type="submit" class="Button" id = "device3"></button>
                    </div>
                </form>

                <button class ="buttonSetTime" data-toggle="modal" data-target="#myModal3">
                    <img src="hinh_anh/alarmclock.png" class ="alarmClockIcon">
                </button>

                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action = "/submitTheTimeDevice3", method = "get">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">SET TIME FOR DEVICE</h4>
                                </div>
                                <div class="modal-body">
                                    <h4> Set time when turn device on </h4>
                                    <input type="time" name="setTimeOn">
                                    <h4> Set time when turn device off </h4>
                                    <input type="time" name="setTimeOff">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div> 
        </div>

        <div class="device">
            <form action = "/TB4", method = "post">
                <h2 class="thietbi">Dining Room</h2>
                <div class="box">
                    <button type="submit" class="Button" id = "device4"></button>
                </div>
            </form>

            <button class ="buttonSetTime" data-toggle="modal" data-target="#myModal4">
                <img src="hinh_anh/alarmclock.png" class ="alarmClockIcon">
            </button>

            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action = "/submitTheTimeDevice4", method = "get">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">SET TIME FOR DEVICE</h4>
                            </div>
                            <div class="modal-body">
                                <h4> Set time when turn device on </h4>
                                <input type="time" name="setTimeOn">
                                <h4> Set time when turn device off </h4>
                                <input type="time" name="setTimeOff">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        </form>    
                    </div>
                </div>
            </div> 
        </div>

    <!--
        <div class="device">
            <form action = "/TB5", method = "post">
                <h2 class="thietbi"> Stairs <br> Light</h2>
                <div class="box">
                    <button type="submit" class="Button" id = "device5"></button>
                </div>
            </form>

            <button class ="buttonSetTime" data-toggle="modal" data-target="#myModal4">
                <img src="hinh_anh/alarmclock.png" class ="alarmClockIcon">
            </button>

            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action = "/submitTheTimeDevice5", method = "get">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">SET TIME FOR DEVICE</h4>
                            </div>
                            <div class="modal-body">
                                <h4> Set time when turn device on </h4>
                                <input type="time" name="setTimeOn">
                                <h4> Set time when turn device off </h4>
                                <input type="time" name="setTimeOff">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        </form>    
                    </div>
                </div>
            </div> 
        </div>
    
        <div class="device">
            <form action = "/TB6", method = "post">
                <h2 class="thietbi"> Air Conditioner </h2>
                <div class="box">
                    <button type="submit" class="Button" id = "device6"></button>
                </div>
            </form>

            <button class ="buttonSetTime" data-toggle="modal" data-target="#myModal4">
                <img src="hinh_anh/alarmclock.png" class ="alarmClockIcon">
            </button>

            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action = "/submitTheTimeDevice6", method = "get">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">SET TIME FOR DEVICE</h4>
                            </div>
                            <div class="modal-body">
                                <h4> Set time when turn device on </h4>
                                <input type="time" name="setTimeOn">
                                <h4> Set time when turn device off </h4>
                                <input type="time" name="setTimeOff">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        </form>    
                    </div>
                </div>
            </div> 
        </div>
    -->
    </div>

    <script>
        function updateData(){
            $.ajax({
                url: "./State",
                dataType: 'JSON',
                success: function(result){
                    if (result.TB1 ==="on"){
                        $("#device1").text("ON");
                        $("#device1").css("color","#2E0CD7"); 
                    }
                    if (result.TB1 ==="off"){
                        $("#device1").text("OFF");
                        $("#device1").css("color","#DF013A"); 
                    }
                    if (result.TB2 ==="on"){
                        $("#device2").text("ON");
                        $("#device2").css("color","#2E0CD7"); 
                    }
                    if (result.TB2 ==="off"){
                        $("#device2").text("OFF");
                        $("#device2").css("color","#DF013A"); 
                    }
                    if (result.TB3 ==="on"){
                        $("#device3").text("ON");
                        $("#device3").css("color","#2E0CD7"); 
                    }
                    if (result.TB3 ==="off"){
                        $("#device3").text("OFF");
                        $("#device3").css("color","#DF013A"); 
                    }
                    if (result.TB4 ==="on"){
                        $("#device4").text("ON");
                        $("#device4").css("color","#2E0CD7"); 
                    }
                    if (result.TB4 ==="off"){
                        $("#device4").text("OFF");
                        $("#device4").css("color","#DF013A"); 
                    }
                    if (result.TB5 ==="on"){
                        $("#device5").text("ON");
                        $("#device5").css("color","#2E0CD7"); 
                    }
                    if (result.TB5 ==="off"){
                        $("#device5").text("OFF");
                        $("#device5").css("color","#DF013A"); 
                    }
                    if (result.TB6 ==="off"){
                        $("#device6").text("OFF");
                        $("#device6").css("color","#DF013A"); 
                    }
                    if (result.TB6 ==="on"){
                        $("#device6").text("ON");
                        $("#device6").css("color","#2E0CD7"); 
                    }
                    setTimeout(function(){
                    updateData()
                    },500);
                }
            });
        }
        updateData();
    </script>
    </body>
</html>