
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>I-home</title>
<link rel="stylesheet" href="style.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body id="home">
	<div id="menu">
    	<ul>
        	<li><a href="home" target="_parent">HOME</a></li>
            <li><a href="control" target="_parent">CONTROL</a></li>
            <li><a href="scenes" target="_parent">SCENES</a></li>
            <li><a href="sensor" target="_parent">SENSOR</a></li>
            <li><a href="camera" target="_parent">CAMERA</a></li>
            <li><a href="chart" target="_parent">CHART</a></li>
            <li><a href="setscenes" target="_parent">SET SCENES</a></li>
            <li><a href="#">SUMMARY</a></li>
        </ul>
     </div>

    <div class="home-page">
        <div style = "float:left">
            <img src="./img/logoBK.png" class ="logo">
        </div>

        <div>
            <h1 class = "titlesmarthome">SMART HOME</h1>
        </div>
    <div id="chart-page">
        <div class="fillter">
            <form action="/filterPower">
                Choose date:
                <input type="number" name="chartChooseDate" min="1" max="31" value = {{date}}>
                /
                <input type="number" name="chartChooseMonth" min="1" max="12" value = {{month}}>
                /
                <input type="number" name="chartChooseYear" min="2017" max="2040" value = {{year}}>
                <button type="submit" class="btn btn-success btn-sm">Filter </button>
            </form>
        </div>
        
        <div class = "boxDistance">
            <div class="col-md-14 col-sm-14 col-xs-14">                     
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Power Consumption Chart
                    </div>
                    <div class="panel-body">
                         <div >
                             <canvas id="myChart"></canvas>
                         </div>
                    </div>
                </div>            
            </div>
        </div> 
    </div>

    </div>
     
        
    
    <script>
        var xdata = [{{chartTime}}];
        var ydata = [{{chartPower}}];
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: xdata,
                datasets: [{
                        label: 'Power',
                        data: ydata,
                        backgroundColor: 'rgba(255, 159, 64, 0.2)',
                        borderColor:'rgba(255, 159, 64, 1)',
                        borderWidth: 3,
                    }]
            },
            options: {
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                            }
                            }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            },
                        scaleLabel: {
                            display: true,
                            labelString: 'Power (W)'
                            }
                        }],
                    }
            }
        });

</script>
    
</body>
</html>