<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>sences</title>
<link rel="stylesheet" href="style.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body id="ngucanh">
    <div id="menu">
    	<ul>
        	<li><a href="home" target="_parent">HOME</a></li>
            <li><a href="control" target="_parent">CONTROL</a></li>
            <li><a href="scenes" target="_parent">SCENES</a></li>
            <li><a href="sensor" target="_parent">SENSOR</a></li>
            <li><a href="camera" target="_parent">CAMERA</a></li>
            <li><a href="chart" target="_parent">CHART</a></li>
            <li><a href="setscenes" target="_parent">SET SCENES</a></li>
            <li><a href="#">SUMMARY</a></li>
        </ul>
    </div>

     <style>
            div.box{
                position: relative;
                
                text-align: center;
                width: 100px;
                height: 60px;
                margin: 20px auto 20px auto;
            }
            div.box .goodmorning {
                display: block;
                font-size: 30px;
                width: 100px;
                border: none;
                background-color: white;
                color: {{goodmorningColor}};
            }
            div.box .venha {
                display: block;
                font-size: 30px;
                width: 100px;
                border: none;
                background-color: white;
                color: {{venhaColor}};
            }
            div.box .goodnight {
                display: block;
                font-size: 30px;
                width: 100px;
                border: none;
                background-color: white;
                color: {{goodnightColor}};
            }
            div.box .vangnha {
                display: block;
                font-size: 30px;
                width: 100px;
                border: none;
                background-color: white;
                color: {{vangnhaColor}};
            }
            div.box .security {
                display: block;
                font-size: 30px;
                width: 100px;
                border: none;
                background-color: white;
                color: {{securityColor}};
            }
            
        </style>
    <div class="box_scenes">
         <div class="col-xs-6 col-md-2">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <form action = "/goodmorning", method = "post"> 
                        <div class="box">
                            <button type="submit" class="goodmorning">Good Morning</button>
                        </div>
                    </form>
                </div>    
            </div>
        </div>    
        
        <div class="col-xs-6 col-md-2">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <form action = "/goodnight", method = "post"> 
                        <div class="box">
                            <button type="submit" class="goodnight">Good Night</button>
                        </div>
                    </form>
                </div>    
            </div>
        </div>

        <div class="col-xs-6 col-md-2">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <form action = "/vangnha", method = "post"> 
                        <div class="box">
                            <button type="submit" class="vangnha">I'm Leaving</button>
                        </div>
                    </form>
                </div>    
            </div>
        </div>

        <div class="col-xs-6 col-md-2">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <form action = "/venha", method = "post"> 
                        <div class="box">
                            <button type="submit" class="venha">I'm Home</button>
                        </div>
                    </form>
                </div>    
            </div>
        </div>

        <div class="col-xs-6 col-md-2">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <form action = "/security", method = "post"> 
                        <div class="box">
                            <button type="submit" class="security">Security</button>
                        </div>
                    </form>
                </div>    
            </div>
        </div>

    </div>
       
</body>
</html>