<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>sences</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</head>

<body id="setscenes">
    <div id="menu">
        <ul>
            <li><a href="home" target="_parent">HOME</a></li>
            <li><a href="control" target="_parent">CONTROL</a></li>
            <li><a href="scenes" target="_parent">SCENES</a></li>
            <li><a href="sensor" target="_parent">SENSOR</a></li>
            <li><a href="camera" target="_parent">CAMERA</a></li>
            <li><a href="chart" target="_parent">CHART</a></li>
            <li><a href="setscenes" target="_parent">SET SCENES</a></li>
            <li><a href="#">SUMMARY</a></li>
        </ul>
    </div>

    {{!--
    <script>
        var StateTB = {};
        StateTB.TB1 = false;
        StateTB.TB2 = false;
        StateTB.TB3 = false;
        StateTB.TB4 = false;
        StateTB.TB5 = false;
        StateTB.TB6 = false;
        var scenes = {};
        scenes.vangnha = false;
        scenes.venha = false;
        scenes.goodmorning = false;
        scenes.goodnight = false;
        scenes.security = false;

        var oldStateTB = {};
        oldStateTB.TB1 = false;
        oldStateTB.TB2 = false;
        oldStateTB.TB3 = false;
        oldStateTB.TB4 = false;
        oldStateTB.TB5 = false;
        oldStateTB.TB6 = false;

    </script> --}}
    <div>
        <div class="row">
            <div class="col-md-3">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">BMS 1</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">V (V)</th>
                            <td id="_1_volt"></td>
                        </tr>
                        <tr>
                            <th scope="row">I (A)</th>
                            <td id="_1_ampe"></td>
                        </tr>
                        <tr>
                            <th scope="row">T (°C)</th>
                            <td id="_1_temp"></td>
                        </tr>
                        <tr>
                            <th scope="row">SOC (%)</th>
                            <td id="_1_soc"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">BMS 2</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">V (V)</th>
                                <td id="_2_volt"></td>
                            </tr>
                            <tr>
                                <th scope="row">I (A)</th>
                                <td id="_2_ampe"></td>
                            </tr>
                            <tr>
                                <th scope="row">T (°C)</th>
                                <td id="_2_temp"></td>
                            </tr>
                            <tr>
                                <th scope="row">SOC</th>
                                <td id="_2_soc"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

    <script>
            function updateNhietdo(){
                $.ajax({
                    url: "./bms",
                    dataType: 'JSON',
                    success: function(result){
                        $("#_1_volt").text(result._1_volt);
                        $("#_1_ampe").text(result._1_ampe);
                        $("#_1_temp").text(result._1_temp);
                        $("#_1_soc").text(result._1_soc);

                        $("#_2_volt").text(result._2_volt);
                        $("#_2_ampe").text(result._2_ampe);
                        $("#_2_temp").text(result._2_temp);
                        $("#_2_soc").text(result._2_soc);
                        setTimeout(function(){
                        updateNhietdo()
                        },1000);
                    }
                    
                })
            }
            updateNhietdo();
    </script>
</body>